.center {
    margin-left: 25%;
    padding: 10px;
    width: 500px;
}

.bg-primary {
    background-color: #0F77D2 !important;
}

.margin-right {
    margin-right: 10px;
}

img {
    width: 75px;
    height: 75px;
    border-radius: 37px;
    margin: 10px;
}

h3 {
    margin: 15px 0 0 15px;
}
