.center {
    margin-left: 33%;
    padding: 15px 0 0 0;
    width: 515px;
}

.bg-primary {
    background-color: #0F77D2 !important;
}

.margin-right {
    margin-right: 10px;
    margin-left: 10px;
}

.image {
    width: 75px;
    height: 75px;
}

h3 {
    margin: 15px 0 0 0;
}

input {
    margin-left: 118px;
}

select {
    width: 200px;
    padding-right: 50px;
    font-size: 16px;
}

.margin-below {
    margin-bottom: 10px;
}

.button-margin {
    /*margin-left: 181px;*/
    margin-top: 2px;
}

pagination-controls {
    float: right;
}

.input-icons {
    cursor: pointer;
    background-color: white;
}

.table-padding-left {
    padding-left: 116px;
}

.margin-left {
  margin-left: -30px;
}

.table-styling {
    margin-left: 25px;
    word-wrap: break-word;
}
